<md-list layout="row" layout-align="center center" class="pagination" ng-if="1 < pages.length || !autoHide">
    <md-list-item ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a class="md-button md-primary md-ink-ripple"  href="" ng-click="setCurrent(1)">
          <md-icon md-svg-icon="previous"></md-icon>
        </a>
    </md-list-item>
    <md-list-item ng-if="directionLinks" >
        <a class="md-button md-primary md-ink-ripple" ng-disabled="pagination.current == 1" href="" ng-click="setCurrent(pagination.current - 1)">
          <md-icon md-svg-icon="previous"></md-icon>
        </a>
    </md-list-item>
    <md-list-item ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)">
        <a class="md-button md-primary md-ink-ripple" ng-class="{ 'md-warn' : pagination.current == pageNumber }"  ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </md-list-item>

    <md-list-item ng-if="directionLinks">
        <a class="md-button md-primary md-ink-ripple"
              ng-disabled="pagination.current == pagination.last"
              href="" ng-click="setCurrent(pagination.current + 1)">
          <md-icon md-svg-icon="next"></md-icon>
        </a>
    </md-list-item>
    <md-list-item ng-if="boundaryLinks"
        <a class="md-button md-primary md-ink-ripple"
              ng-disabled="pagination.current == pagination.last"
              href="" ng-click="setCurrent(pagination.last)">
          <md-icon md-svg-icon="next"></md-icon>
        </a>
    </md-list-item>
</md-list>
