<md-dialog>

    <md-toolbar>
     <div class="md-toolbar-tools">
       <h2>Отлично, а теперь отправьте выбранные предметы нашему боту</h2>
     </div>
   </md-toolbar>

    <md-dialog-content layout="column">
      <md-button ng-click="vm.open()">Тест</md-button>
    </md-dialog-content>

</md-dialog>
