<md-dialog>
  <form ng-cloak ng-submit="vm.submit()">
  <md-dialog-content>
    <div class="md-dialog-content">
      <label>Назовите свою цену</label>
      <md-input-container>
        <input type="number" min="vm.min" max="vm.max" ng-model="vm.price" required/>
      </md-input-container>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button type="button" class="md-warn"
            ng-if="vm.update"
            ng-click="vm.delete()">
      Удалить
    </md-button>
    <md-button type="submit">
      Отправить
    </md-button>
    <md-button type="button" ng-click="vm.cancel()">
      Отмена
    </md-button>
  </md-dialog-actions>

  </form>
</md-dialog>
