<md-dialog>
  <md-dialog-content>
    <md-list>
      <md-list-item class="md-2-line secondary-button-padding"
                    ng-repeat="counterOffer in vm.counterOffers">
        <h5>{{counterOffer.price}} p.</h5>
        <p>
          Репутация: 0 <!--todo: add reputation -->
        </p>

        <md-button class="md-secondary"
                   ng-click="vm.accept(counterOffer)">
          Принять
        </md-button>
      </md-list-item>
    </md-list>
  </md-dialog-content>
</md-dialog>
