<md-dialog>
  <form name="demandForm" ng-submit="submit()">

    <md-toolbar>
     <div class="md-toolbar-tools">
       <h2>{{ item.name }}</h2>
     </div>
   </md-toolbar>

    <md-dialog-content layout="column">
      <md-input-container>
        <label>Количество</label>
        <input type="number" step="1" min="1"
               ng-model="amount" required />
      </md-input-container>

      <md-input-container>
        <label>Цена за единицу</label>
        <input type="number" step="0.1" min="1" max="100"
               ng-model="price" required /> <!-- TODO: fetch max from steamAPI -->
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" class="md-raised md-primary">Оставить Заявку</md-button>
      <md-button type="button" class="md-raised md-warn" ng-click="cancel()">Отмена</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
