<md-dialog>
    <form ng-submit="submit()" layout="column">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Продать {{item.name}}</h2>
          <span flex></span>
          <!-- close button? -->
        </div>
      </md-toolbar>
      <md-dialog-content layout="column">

              <md-input-container>
                <label>Сколько предметов данного типа Вы хотите продать?</label>
                <input type="number" min="1" ng-model="totalAmount" max="{{item.amount - item.amount_offered}}" required/>
              </md-input-container>

              <!--<md-input-container>
                <label>Какое минимальное количество предметов данного типа Вы готовы продавать в рамках одной сделки?</label>
                <input type="number" min="1" ng-model="minAmount" max="{{totalAmount}}" required/>
              </md-input-container> -->

              <md-input-container>
                <label>Назовите цену за один предмет</label>
                <input type="number" ng-model="price" min="0.01" step="0.01" required/> <!-- todo: max = maximum market price -->
              </md-input-container>

              <md-input-container>
                <md-checkbox ng-model="allow_counteroffers"
                             aria-label="Получать контрпредложения">
                  Получать контрпредложения по данному товару
                </md-checkbox>
              </md-input-container>

              <md-input-container>
                <md-checkbox ng-model="send_offer"
                             aria-label="Отправить оффер">
                  Заранее отправить оффер торговому боту
                </md-checkbox>
              </md-input-container>


        <md-input-container>
          <md-button type="submit" class="md-raised md-primary">Продать</md-button>
          <md-button type="button" ng-click="cancel()" class="md-raised md-warn">Отмена</md-button>
        </md-input-container>
      </md-dialog-content>
    </form>
</md-dialog>
