md-grid-tile.offer figure {
   align-items: flex-start!important;
}

.myGrid {
    width: 500px;
    height: 1000px;
  }

svg { fill: inherit; }

table {
  border-collapse: collapse;
  border: 1px solid white;
}

td, th {
  border: 1px solid white;
  padding: 0.5rem;
  text-align: left;
}

.notification {
  color: red;
}

md-badge{
  margin: 0 0 0 8px;
  background-color: #259b24;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}
