<md-toast>
  <div class="md-toast-content">
    <p>
      {{vm.message}}
    </p>
    <div layout="row">
      <md-button class="md-primary" ng-click="vm.confirm()">
        Принять
      </md-button>
      <md-button class="md-warn" ng-click="vm.decline()">
        Отклонить
      </md-button>
    </div>
  </div>
</md-toast>
