{% load staticfiles %}


<html>
  <head>
    {% include "staticfiles.html" %}
  </head>

  <body ng-app='steam'>
    <script>
    if (window.location.href === '/') {
      if ('{{request.path}}' === '/') {
        window.location.assign('/index');
      } else {
        window.location.assign("{{request.path}}");
      }
    }
    </script>

    {% include "main.html" %}
  </body>

</html>
