<div>
  <md-toolbar ng-controller="NavbarController as vm" class="md-whiteframe-z3">
      <div class="md-toolbar-tools" layout="row" flex>
        <h3>
          <a ng-href="/index">Welcome</a>
        </h3>
        <span flex></span>
        <md-button href="/catalogue">Каталог</md-button>

        {% if user.is_authenticated %}
          <md-button ng-href="/profile">
            Личный кабинет
              <span id="username">
                ({{ user.username }})
              </span>
          </md-button>

          <md-button ng-href="/inventory">
            Инвентарь
          </md-button>

          <md-button ng-href="/profile/offers"
                     ng-if="notifications.profileSettings.url_enabled">
            Мои товары
          </md-button>

          <md-button ng-click="logout()">Log out</md-button>

          <md-button class="md-no-ink"
                     ng-href="/mailbox"
                     aria-label="Show Mailbox">
            <md-icon md-svg-icon="mailbox">

            </md-icon>
            {% verbatim %}
            <md-badge class="md-warn" ng-if="notifications.all.length > 0">{{notifications.all.length}}</md-badge>
            {% endverbatim %}
          </md-button>
        </div>
        {% else %}
          <a class="md-button" ng-href="{% url "social:begin" "steam" %}">Log in with your Steam Account</a>
        {% endif %}
      </div>
  </md-toolbar>

  <ng-view flex></ng-view>
</div>
