{% load staticfiles %}


<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet" href="{% static 'css/app.css' %}">


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.5/angular-sanitize.min.js"></script>

<script src="{% static 'angular-websocket/dist/angular-websocket.min.js' %}"></script>

<script src="{% static 'checklist-model/checklist-model.js' %}"></script>
<script src="{% static 'angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'angularUtils-pagination/dirPagination.js' %}"></script>


<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/errors.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/config/routing.js' %}"></script>
<script src="{% static 'js/config/run.js' %}"></script>

<script src="{% static 'js/services/catalogue.js' %}"></script>
<script src="{% static 'js/services/counterOffers.js' %}"></script>
<script src="{% static 'js/services/profile.js' %}"></script>
<script src="{% static 'js/services/inventory.js' %}"></script>
<script src="{% static 'js/services/offers.js' %}"></script>
<script src="{% static 'js/services/requests.js' %}"></script>
<script src="{% static 'js/services/notifications.js' %}"></script>

<script src="{% static 'js/controllers/catalogue.js' %}"></script>
<script src="{% static 'js/controllers/navbar.js' %}"></script>
<script src="{% static 'js/controllers/main.js' %}"></script>
<script src="{% static 'js/controllers/inventory.js' %}"></script>
<script src="{% static 'js/controllers/profile.js' %}"></script>
<script src="{% static 'js/controllers/offerList.js' %}"></script>
<script src="{% static 'js/controllers/itemDetails.js' %}"></script>
<script src="{% static 'js/controllers/dialogs/sell.js' %}"></script>
<script src="{% static 'js/controllers/dialogs/demand.js' %}"></script>
<script src="{% static 'js/controllers/dialogs/counterOffer.js' %}"></script>
<script src="{% static 'js/controllers/dialogs/counterOfferList.js' %}"></script>
<script src="{% static 'js/controllers/dialogs/botURL.js' %}"></script>
<script src="{% static 'js/controllers/toasts.js' %}"></script>
<script src="{% static 'js/controllers/mailbox.js' %}"></script>
<script src="{% static 'js/controllers/itemBuy.js' %}"></script>
