
<md-button ng-click="goBack()">
  <md-icon md-svg-icon="previous"></md-icon>
</md-button>

<div ng-if="stage == 'await'" layout="column" layout-align="center center">
  <md-progress-circular md-diameter="70"></md-progress-circular>
  <p>
    Пожалуйста подождите
  </p>
</div>

<div ng-if="stage == 'pay'" layout="column" layout-align="center center">
  <h4>Здесь будет оплата</h4>
  <h5>Ваша конечная цена - {{offer.price * offer.discount}}</h5>
  <h6>(Цена без скидки - {{offer.price}})</h6>
  <p>
    Код оффера - {{ offer.code }}
  </p>
  <md-button class="md-primary" ng-click="next()">
    Вперед
  </md-button>
</div>
