<div class="container" layout="row">
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
              class="md-sidenav-left md-open md-whiteframe-4dp"
              md-component-id="filters" flex="20"
              layout-padding>

    <div layour="row">
      <md-button class="md-primary" ng-click="filter()">
        Применить
      </md-button>
      <md-button class="md-primary" ng-click="resetFilters()">
        Сбросить
      </md-button>
    </div>
    <fieldset class="standard" ng-repeat="(name, category) in tags[selectedAppId]">
      <legend>
        {{name}}
      </legend>

      <div layout-wrap ng-repeat="tag in category">
        <md-checkbox checklist-model="$parent.tags.filters" checklist-value="tag.id">{{tag.name}}</md-checkbox>
      </div>
    </fieldset>

  </md-sidenav>

  <md-content flex="80" layout-padding>
    <md-tabs md-selected="selectedIndex"
          md-border-bottom
          md-dynamic-height>
      <md-tab ng-repeat="(gameName, appid) in games track by $index" md-on-select="gameSelected(appid)">
        <md-tab-label>
          {{ gameName }}
        </md-tab-label>

        <md-tab-body>
          <dir-pagination-controls on-page-change="pagination.pageChanged(newPageNumber)"
                template-url="/static/templates/directives/pagination.html"
                max-size="5">
          </dir-pagination-controls>

         <form ng-submit="search()" flex>
           <md-input-container class="md-block">
             <label>Искать...</label>
             <input type="text" ng-model="search.input" />
           </md-input-container>

           <md-button class="md-primary md-raised" type="submit">
             Поиск
           </md-button>
         </form>

          <table flex>
            <thead>
              <tr>
                <th></th>
                <th>Наименование</th>
                <th>Кол-во в наличии</th>
                <th>Цена (мин.)</th>
              </tr>
            </thead>

            <tbody>
              <tr dir-paginate="item in items | itemsPerPage: pagination.itemsPerPage track by $index"
                  total-items="pagination.totalItems"
                  current-page="pagination.current"
                  ng-click="details(item)">
                <th>
                  <img class="md-avatar" ng-src="{{__imageUrl + item.icon_url }}" height="100px" />
                </th>
                <th>
                  {{ item.name }}
                </th>
                <th>
                  {{ item.amount }}
                </th>
                <th>
                  {{ item.price * notifications.profileSettings.discount }}
                </th>
              </tr>
              <md-divider></md-divider>
            </tbody>
          </table>

        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
