<section layout="row" flex>
  <md-content flex layout-padding>

    <p ng-if="!notifications.profileSettings.url_enabled">
      Для того чтобы выставить предмет на продажу, укажите свой trade URL в личном кабинете
    </p>

    <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height>
      <md-tab ng-repeat="game in games track by $index" md-on-select="gameSelected(game)">
        <md-tab-label>
          <span>{{ game.name }}</span>
          <md-button class="md-icon-button" aria-label="Refresh Inventory" ng-click="refreshItems(game)">
            <md-icon md-svg-icon="media/svg/refresh.svg" ng-if="selectedIndex==$index"></md-icon>
          </md-button>
        </md-tab-label>

        <md-tab-body>
          <h2 ng-if="game.error">
            {{game.error}}
          </h2>
          <md-list  ng-if="game.items && !game.error">
            <md-list-item class="md-3-line secondary-button-padding" ng-repeat="item in game.items">
              <img ng-src="{{__imageUrl + item.icon_url}}" class="md-avatar" />
              <div class="md-list-item-text">
                <h3>{{ item.name }}</h3>
                <p>
                  В инвентаре: {{ item.amount }} шт.
                  <span ng-if="item.amount_offered > 0">
                    (из них в продаже {{ item.amount_offered }} шт.)
                  </span>
                </p>
                <p class="item-type">
                  {{item.type}}
                </p>
              </div>

              <md-button class="md-secondary"
                         ng-disabled="item.amount <= item.amount_offered || !notifications.profileSettings.url_enabled"
                         ng-click="sellItem($event, item)">
                Продать
              </md-button>
            </md-list-item>
          </md-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>

  </md-content>
</section>
