<div layout="row" style="background-color: {{item.background_color}};" layout-margin>
  <img ng-src="{{__imageUrl + (item.icon_url_large || item.icon_url) }}" />

  <div layout="column">
    <h3 style="color: {{item.name_color}}">{{ item.name }}</h3>
    <h5>{{ item.item_type }}</h5>
    <div>
      <p ng-repeat="description in item.descriptions"
         style="color: {{description.color}};">
        {{ description.value }}
      </p>
    </div>
    <div>
      <span ng-repeat="tag in item.tags" style="color: {{tag.tag.color}};">
        {{ tag.tag.name }}
      </span>
    </div>
  </div>
</div>

<md-divider></md-divider>

<div ng-if="!item.offers.length">
  <h4>
    К сожалению на данный момент предметы данного типа остутствуют в продаже.
    Вы можете оставить заявку, и что-то случится.
  </h4>

</div>

<div ng-if="notifications.profileSettings.url_enabled">
  <md-button class="md-raised md-primary"
             ng-click="Offer.demand($event)"
             ng-if="!item.requested">
    Оставить заявку
  </md-button>
  <div ng-if="item.requested">
    <md-button class="md-raised md-primary"
              ng-click="Offer.edit($event)">
      Обновить заявку
    </md-button>
    <md-button class="md-raised md-warn"
               ng-click="Offer.remove()">
      Удалить заявку
    </md-button>
  </div>
</div>
<h6 ng-if="!notifications.profileSettings.url_enabled">
  Укажите Ваш trade URL в личном кабинете перед тем как вы сможете оставить заявку
</h6>

<div class="container" flex layout="row" ng-if="item.offers.length">
  <table>
    <thead>
      <tr>
        <th>Продавец онлайн</th>
        <th>Репутация</th>
        <th>Кол-во</th>
        <th>Цена за партию</th>
        <th></th>
    </thead>

    <tbody>
      <tr ng-repeat="offer in item.offers | orderBy: filters.sortBy:filters.sortReverse">
        <th>
          <md-icon ng-if="offer.seller_online" md-svg-icon="online"></md-icon>
          <md-icon ng-if="!offer.seller_online" md-svg-icon="offline"></md-icon>
        </th>
        <th> 0 </th> <!-- todo: add reputation -->
        <th>{{ offer.amount }}</th>
        <th>
          {{ offer.price * notifications.profileSettings.discount }}
          <md-icon md-svg-icon="ruble"></md-icon>
        </th>
        <th>
          <div ng-if="notifications.profileSettings.url_enabled">
            <md-button ng-click="Offer.buy(offer)">
              Купить
            </md-button>
            <md-button ng-click="cOffer.create($event, offer)"
                       ng-if="offer.allow_counteroffers && !offer.counter_offers.length">
              Сделать контрпредложение
            </md-button>
            <md-button ng-click="cOffer.update($event, offer)"
                       ng-if="offer.counter_offers.length">
              Обновить контрпредложение
            </md-button>
          </div>
        </th>
      </tr>
    </tbody>
  </table>
  <span flex></span>
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
              class="md-sidenav-right md-open md-whiteframe-4dp"
              md-component-id="ft" flex="20"
              layout-padding>
    Сортировать по
    <md-button
               class="md-icon-button"
               ng-click="filters.sortReverse = !filters.sortReverse">
      <md-icon ng-if="filters.sortReverse" md-svg-icon="down"></md-icon>
      <md-icon ng-if="!filters.sortReverse" md-svg-icon="up"></md-icon>
    </md-button>

    <md-radio-group ng-model="filters.sortBy" class="md-primary">
      <md-radio-button ng-repeat="(s, sName) in sortFilters"
                       ng-value="s">
        {{ sName }}
      </md-radio-button>
    </md-radio-group>

  </md-sidenav>
</div>
