
<md-list>
  <md-subheader class="md-no-sticky">Новые уведомления</md-subheader>
  <md-list-item ng-repeat="ntfn in newNots track by $index"
                ng-class="{'md-secondary-action': ntfn.type == 'notify'}">

    <img ng-if="ntfn.image" class="md-avatar" ng-src="{{__imageUrl + ntfn.image}}"  />
    <md-icon ng-if="ntfn.icon" md-svg-icon="ntfn.icon"></md-icon>

    <div class="md-list-item-text">
      <p>
        {{ntfn.message}}
      </p>
    </div>

    <div ng-if="ntfn.type == 'confirm'">
      <md-button class="md-secondary"
                 ng-click="confirm(ntfn, $index)">
        Принять
      </md-button>
      <md-button class="md-secondary"
                 ng-click="decline(ntfn, $index)">
        Отклонить
      </md-button>
    </div>
  </md-list-item>

  <md-subheader class="md-no-sticky">Просмотренные уведомления</md-subheader>
  <md-list-item ng-repeat="ntfn in oldNots">
    <img ng-if="ntfn.image" class="md-avatar" ng-src="{{__imageUrl + ntfn.image}}"  />
    <md-icon ng-if="ntfn.icon" md-svg-icon="ntfn.icon"></md-icon>

    <div class="md-list-item-text">
      <p>
        {{ntfn.message}}
      </p>
    </div>

  </md-list-item>
  <div layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Назад" ng-disabled="!links.prev"
               ng-click="fetch(links.prev)">
      <md-icon md-svg-icon="previous"></md-icon>
    </md-button>

    <md-button class="md-icon-button" aria-label="Вперед" ng-disabled="!links.next"
               ng-click="fetch(links.next)">
      <md-icon md-svg-icon="next"></md-icon>
    </md-button>
  </div>
</md-list>
