<section layout="row" layout-align="space-around center">
  <md-button class="md-primary" ng-click="url('/inventory')">My Inventory</md-button>
  <md-button class="md-primary" ng-click="url('/browse')">Browse Offers</md-button> 
</section>
