<md-list>
  <md-list-item class="md-2-line secondary-button-padding"
                ng-repeat="offer in offers track by $index">
    <img ng-src="{{__imageUrl + offer.item.icon_url}}" class="md-avatar" />
    <div class="md-list-item-text">
      <a ng-href="{{offer.item.url}}">
        <h3>{{ offer.item.name }}</h3>
      </a>
      <p>
        <span ng-class="{notification: offer.hasCounterOffers}">Есть контрпредложения </span>
        <span> предметов: {{ offer.amount }}</span> |
        <span> цена: {{ offer.price }}</span> |
        <span> {{offer.creation_timestamp | date:'dd/MM/yyyy HH:mm' }}</span> |
        <span> Код: {{ offer.code }}</span>
      </p>
    </div>

    <md-button class="md-secondary"
               ng-click="removeOffer(offer, $index)">
      Снять с продажи
    </md-button>
    <md-button class="md-secondary"
               ng-click="showCounterOffers(offer)"
               ng-if="offer.has_counteroffers">
      Показать контрпредложения
    </md-button>
  </md-list-item>
</md-list>
