<div layout="row" layout-padding>
  <form ng-submit="update()">
    <md-input-container class="md-block">
      <label>Trade Offer URL</label>
      <input ng-model="uProfile.trade_offer_url" />
    </md-input-container>


  <md-subheader>Мои настройки</md-subheader>
    <md-input-container>
      <md-checkbox ng-model="uProfile.allow_sound">
        Разрешить звуковые уведомления
      </md-checkbox>
      <md-checkbox ng-model="uProfile.allow_toasts">
        Разрешить popup уведомления
      </md-checkbox>
    </md-input-container>

    <md-input-container>
      <md-button type="submit" class="md-primary">
        Обновить
      </md-button>
      <md-button type="button" class="md-warn" ng-click="cancel()">
        Отменить
      </md-button>
    </md-input-container>
  </form>

  <div>
    Мои заявки
    <md-button ng-if="!requestTab"
               ng-click="showRequests()"
               class="md-primary">
      Показать
    </md-button>
    <md-button ng-if="requestTab"
               ng-click="hideRequests()"
               class="md-primary">
      Скрыть
    </md-button>
  </div>

  <div ng-if="requestTab">
    <md-list ng-if="requests.length">
      <md-list-item class="md-2-line secondary-button-padding"
                    ng-repeat="request in requests track by $index">
        <img ng-src="{{__imageUrl + request.icon_url}}" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{request.name}}</h3>
          <p>
            {{request.amount}} шт. по цене {{request.price}} за каждую
          </p>
        </div>

        <md-button class="md-secondary"
                   ng-click="removeRequest(request, $index)"
                   aria-label="Отменить заявку">
          <md-icon md-svg-icon="remove"></md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </div>
</div>
